<h1 class="text-center">Upload Image</h1>
<div class="container p-4">
<form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" >
        <input type="submit" value="upload">
</form>
</div>
